.gridContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100vw;
    height: 100vh;
    margin-bottom: 15%;
    
}
img{
    width: 100%;
    
}
.right {
    display: flex;
    
   
    
}
// .right img{
//     border-radius: 50%;
//     display: block;
//     border:1px solid whitesmoke;
// }
// .right:after {
//     content: "";
//     display: block;
//     width: 100%;
//     height: 100%;
//     background: radial-gradient(ellipse at center, rgba(255,255,255,0) 40%,whitesmoke 85%,whitesmoke 100%);
//     border-radius: 50%;
//     position: absolute;
//     top: 0;
//     left: 0;
//    }
.left{ 
    
    background: blacksmoke;
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 20%;
}
.left h1{ 
        color:  black; 
        font-size: 5.9vw;
        margin: 25px;

    } 



.text{
    position: absolute;
    left: 25%;
    top: 60vh;
    transform: translate(-50%, -50%);
    background: linear-gradient(-45deg, whitesmoke, black );
    background-size: 300%;
    font-size: 4.0vw;
    letter-spacing: -5px;
    text-transform: uppercase;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    animation: animated_text 6s ease-in-out infinite;
    -moz-animation: animated_text 6s ease-in-out infinite;
    -webkit-animation: animated_text 6s ease-in-out infinite;


}

@keyframes animated_text{
    0% {
        background-position: 0px 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0px 50%;
    }
}

@media (max-width:900px){
    .container{
        grid-template-columns: 3fr 1fr;
    }

    img{
        width: 90;
        height: 65%;
    }

    .right{
        align-items: center;
    }
    .left  h2{
        font-size: 4vw;
    }
    .left  h1{
        font-size: 6vw;
    }

}


@media (max-width: 600px) {
    img{
        width: 80%;
        height: 35%;
    }

    .right{
        align-items: center;
    }

    .left  h2{
        font-size: 8vw;
    }
    .left  h1{
        font-size: 8vw;
    }

}
