.gridContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100%;
  
    margin-bottom: 15%;
    
}
img{
    height: auto;
    max-width: 100%;
    
}
.right {
    display: flex;
    
   
    
}

.left{ 
    
    background: whitesmoke;
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 20%;
}
.left h1{ 
        color:  black; 
        font-size: 5.9vw;
        margin: 25px;

    } 



.text{
    position: absolute;
    left: 25%;
    top: 60vh;
    transform: translate(-50%, -50%);
    background: linear-gradient(-45deg, whitesmoke, black );
    background-size: 300%;
    font-size: 4.0vw;
    letter-spacing: -5px;
    text-transform: uppercase;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    animation: animated_text 6s ease-in-out infinite;
    -moz-animation: animated_text 6s ease-in-out infinite;
    -webkit-animation: animated_text 6s ease-in-out infinite;


}

@keyframes animated_text{
    0% {
        background-position: 0px 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0px 50%;
    }
}

@media (max-width:900px){
    .container{
        grid-template-columns: 3fr 1fr;
    }

    img{
        width: 90;
        height: 65%;
    }

    .right{
        align-items: center;
    }
   
    .left  h1{
        font-size: 6vw;
    }

}


@media (max-width: 600px) {
 
    .left  h1{
        font-size: 3rem;
        margin-left: 10%;
    }
    .left  h2{
        font-size: 3rem;
        margin-left: 30%;
    }

   
   

}
