.container_video{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      ". . ."
      ". . ."; 

}

.card {
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow-y: scroll;
    width: 150px;
    height: 150px;

    
    @media only screen and (min-width: 691px) {
    width: 200px;
    height: 400px;
    }
 
    @media only screen and (min-width: 1000px) {
      width: 300px;
      height: 500px;
    }
    } 
  

  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 5px;
    min-height: 150px;
    h3{
      margin-top: 2px;
      margin-bottom: 2px;
      font-size: 15px;
    }
    
    @media only screen and (min-width: 691px) {
      padding: 10px;
      }
   
      @media only screen and (min-width: 1000px) {
        padding: px;
      }
  }
  

  p {
    font-size: 13px;
    
  }


  .tag {
    background: #a7b80f;
    border-radius: 50px;
    margin: 0;
    color: #fff;
    padding: 2px 10px;
    text-transform: uppercase;
    cursor: pointer;
  }
