.container_ed {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr ; 
    gap: 0px 0px; 
    grid-template-areas: 
      ". ."
      ". ."
      ". ."; 
  }

.img_edu{
    width: 50%;
    margin:auto;
    opacity: 10%;
}
.img_edu:hover{
    opacity: 100%;
}

.info_ed{
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid grey;
}

.apen_ed{
    font-family: Impact, Charcoal, sans-serif;
    font-size: 24px;
    letter-spacing: -1,5px;
    word-spacing: 2px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
    
}
@media (max-width: 600px){
  .container_ed{
    display: flex;
    flex-direction: column;
  }
}
