@import url('https://fonts.googleapis.com/css2?family-Nunito+Sans:wght@200&display-swap');

:root{
    --font-style: 'Nunito-Sans' , sans-serif;
}

body{
    font-family: var(--font-style);
    background-color:whitesmoke;
    color:coral;
}

.container {
    display: flex;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, - 50%);
}

span{
    font-size: 8vw;
    letter-spacing: 10px;
    animation: flip 2.6s infinite linear;
    transform-origin: 0 70%;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

@keyframes flip{
    35% {
        transform: rotateX(360deg);
    }
    100% {
        transform: rotateX(360deg);
    }
}

.container>span:nth-child(even){
    color:darkcyan
}

.container>span:nth-child(2){
    animation-delay: 0.3s;
}
.container>span:nth-child(3){
    animation-delay: 0.6s;
}
.container>span:nth-child(4){
    animation-delay: 0.9s;
}
.container>span:nth-child(5){
    animation-delay: 1.2s;
}
.container>span:nth-child(6){
    animation-delay: 1.5s;
}

button{
    background: transparent;
    color: #ffda9e;
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
    padding: 16px 36px;
    border: 2px solid #ffda9e;
    border-radius: 32px;
    transform: translate(0);
    overflow: hidden;
    cursor: pointer;
    margin-top: 40vw;
}

button::before {
    content: "";
    position: absolute;
    background-color: #ffda9e;
    width: 8px;
    top: 0;
    bottom: 0;
    left: -32px;
    transform: rotate(-16deg);
    filter: blur(6px);
}
button:hover::before{
    left: calc(100% + 32px);
    transition: 0.75s;
}