.gridContainer_1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    //height: 100vh;
    scroll-snap-align: center;
    overflow-y: hidden;
    
    
    
    
}

img{
    height: auto;
    max-width: 100%;
    margin: 20px;
    
}
.text1 {
    display: flex;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 100%;
    letter-spacing: -0.8px;
    word-spacing: 3.6px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    margin: 25px
      
}

.big_title{
    font-family: Impact, Charcoal, sans-serif;
    font-size: 58px;
    letter-spacing: 1.8px;
    word-spacing: 2px;
    color: #7A7A7A;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    text-align: center;
}

.title{
    font-family: "Rockwell", Palatino, serif;
    font-size: 24px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
    margin-top: 50px;
}

.apen{
    font-family: Impact, Charcoal, sans-serif;
    font-size: 24px;
    letter-spacing: -1,5px;
    word-spacing: 2px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
    margin-left: 15rem;
}

@media (max-width:900px){
    .container{
        grid-template-columns: 1fr 1fr;
    }

   

    .text1{
        align-items: center;
        margin: 10px;
      
    }
    

}


@media (max-width: 600px) {
  .gridContainer_1{
    display: flex;
    flex-direction: column;
  }
 

}
