.gridContainer_1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}

img{
    width: 90%;
    margin: 20px;
    
}
.text1 {
    display: flex;
    font-family: "Courier New", Courier, monospace;
    font-size: 18px;
    letter-spacing: -0.8px;
    word-spacing: 3.6px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    margin: 25px
      
}

.title{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 24px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
    margin-top: 50px;
}

.apen{
    font-family: Impact, Charcoal, sans-serif;
    font-size: 24px;
    letter-spacing: -1,5px;
    word-spacing: 2px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
}

@media (max-width:900px){
    .container{
        grid-template-columns: 3fr 1fr;
    }

    img{
        width: 90%;
        height:45%;
    }

    .text1{
        align-items: center;
        margin: 10px
    }
    

}


@media (max-width: 600px) {
    img{
        width: 90%;
        height: 35%;
    }

    .text1{
        align-items: center;
        margin: 10px;
        font-size: 15px
    }

 

}
